@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>اگزوزسازی سیامک | اگزوز سازی چالوس </title>
    <meta name="description" content="اگزوز سازی سیامک، بهترین مرکز اگزوز سازی در چالوس. تعمیر و تعویض اگزوز انواع خودرو با کیفیت بالا و قیمت مناسب. راهنمای جامع نگهداری و افزایش عمر اگزوز خودرو.">
    <meta name="author" content="اگزوز سازی سیامک">

    <!-- Favicons -->
    <link href="~/assets/img/favicon.png" rel="icon">
    <link href="~/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="~/assets/vendor/animate.css/animate.min.css" rel="stylesheet">
    <link href="~/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="~/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Main CSS File -->
    <link href="~/assets/css/main.css" rel="stylesheet">

    <!-- =======================================================
    
    ======================================================== -->
</head>

<body class="index-page">

    <header id="header" class="header d-flex align-items-center fixed-top">
        <div class="container-fluid container-xl position-relative d-flex align-items-center justify-content-between">

            <!--  <a href="index.html" class="logo d-flex align-items-center">
            -->
            <h1>اگزوزسازی سیامک در چالوس</h1>

            <!-- </a>-->
            <!-- menu -->
            <nav id="navmenu" class="navmenu">
                <ul>
                    <li><a href="#contact" class="active">تماس با ما</a></li>
                    <li><a href="#team">تیم ما</a></li>
                    <li><a href="#services">خدمات</a></li>
                    <!-- <li><a href="#portfolio">Portfolio</a></li>-->
                    <li><a href="#about"> درباره ما</a></li>

                    <li><a href="#hero">خانه </a></li>
                </ul>
                <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
            </nav>

        </div>
    </header>

    <main class="main">
        <!-- baner1 -->
        <!-- Hero Section -->
        <section id="hero" class="hero section dark-background">

            <div id="hero-carousel" data-bs-interval="5000" class="container carousel carousel-fade" data-bs-ride="carousel">

                <!-- Slide 1 -->
                <div class="carousel-item active">
                    <div class="carousel-container">
                        <h2 class="animate__animated animate__fadeInDown"> <span> به اگزوز سازی سیامک</span> درچالوس خوش امدید </h2>
                        <p class="animate__animated animate__fadeInUp">اگزوز سازی سیامک با بیش از ۳۰ سال سابقه در خدمت شما مشتریان عزیز خواهد بود</p>
                        <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">بیشتر بخوانید</a>
                    </div>
                </div>



                <!-- Slide 2 -->
                <div class="carousel-item">
                    <div class="carousel-container">
                        <h2 class="animate__animated animate__fadeInDown">در اگزوز سازی سیامک</h2>
                        <p class="animate__animated animate__fadeInUp">بهترین خدمات از جمله تعویض و تعمیر و ساخت اگزوز های ایرانی و خارجی خواهید داشت،از جمله خرید کاتالیزور هم داریم</p>
                        <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">بیشتر بخوانید</a>
                    </div>
                </div>




                <!-- Slide 3 -->
                <div class="carousel-item">
                    <div class="carousel-container">
                        <h2 class="animate__animated animate__fadeInDown">اگزوزز سازی سیامک</h2>
                        <p class="animate__animated animate__fadeInUp"> بهترین ها را برای شما میخواهد</p>
                        <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">بیشتر بخوانید</a>
                    </div>
                </div>



                <a class="carousel-control-prev" href="#hero-carousel" role="button" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
                </a>

                <a class="carousel-control-next" href="#hero-carousel" role="button" data-bs-slide="next">
                    <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
                </a>

            </div>

            <svg class="hero-waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28 " preserveAspectRatio="none">
                <defs>
                    <path id="wave-path" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z"></path>
                </defs>
                <g class="wave1">
                    <use xlink:href="#wave-path" x="50" y="3"></use>
                </g>
                <g class="wave2">
                    <use xlink:href="#wave-path" x="50" y="0"></use>
                </g>
                <g class="wave3">
                    <use xlink:href="#wave-path" x="50" y="9"></use>
                </g>
            </svg>

        </section>


        <!-- baner2 --------------------------------------------------------------------------------------------->
        <!-- /Hero Section -->
        <!-- About Section -->
        <!--<section id="about" class="about section">-->

        <section id="hero" class="hero section dark-background">
        </section>

        <!--  ایجاد موج تمام-->
        <!-- hero dar secton baraye wave hast-->
        <!--dark bakground baraye igad baner 2 ast  -->
        <section id="about" class="hero about section dark-background2">

            <div class="container ">

                <div class="row position-relative ">

                    <div class="col-lg-5 about-img text-end" data-aos="zoom-out" data-aos-delay="200">
                        <div class="video-wrapper">
                            <blockquote class="instagram-media"
                                        data-instgrm-permalink="https://www.instagram.com/reel/DD5IV-7o79Y/?igsh=bGZ1YTA4Ym1qdTg2"
                                        data-instgrm-version="14">
                            </blockquote>
                        </div>
                    </div>


                    <div class="col-lg-7" data-aos="fade-up" data-aos-delay="100">
                        <h2 class="inner-title">بهترین خدمات از ما دریافت کنید</h2>
                        <h4 id="h44">با34 سال سابقه</h4>
                        <!-- <h3>خدمات ما</h3>-->
                        <p id="p1">چرا اگزوزسازی سیامک؟</p>
                        <ul>
                            <li>✨ استفاده از جدیدترین فناوری‌ها در طراحی و اجرای سیستم‌های اگزوز</li>
                            <li>✨ کیفیت تضمین‌شده با گارانتی معتبر</li>
                            <li>✨ به‌کارگیری متریال درجه یک و ضدزنگ</li>
                            <li>✨ مشاوره رایگان برای انتخاب بهترین گزینه برای خودروی شما</li>
                        </ul>
                        <p>💨! قدرت، عملکرد و زیبایی را با هم تجربه کنید</p>

                        <!--
                    <ul>
                        <li><i class="bi bi-check-circle"></i> <span>خدمات ویژه ما:</span></li>
                        <li><i class="bi bi-check-circle"></i> <span>ساخت و نصب انواع اگزوزهای حرفه‌ای و اسپرت – برای انواع خودروهای ایرانی و خارجی</span></li>
                        <li><i class="bi bi-check-circle"></i> <span>تعمیر و تقویت اگزوز – افزایش عملکرد و کاهش صداهای اضافی</span></li>
                        <li><i class="bi bi-check-circle"></i> <span>تکنولوژی جوشکاری دقیق و حرفه‌ای – ماندگاری و کیفیت بالا</span></li>
                        <li><i class="bi bi-check-circle"></i> <span>ساخت اگزوزهای سفارشی – مطابق با سلیقه و نیاز شما</span></li>
                        <li><i class="bi bi-check-circle"></i> <span>عایق‌کاری و کاهش صدای اگزوز – تجربه‌ای آرام‌تر در رانندگی</span></li>
                    </ul>-->

                    <p>
                        در اگزوزسازی ما، هیچ چیزی غیرممکن نیست، حتی بهینه‌سازی یک سیستم اگزوز قدیمی.در اگزوزسازی ما با استفاده از مواد مقاوم و فناوری روز، آینده‌ای پایدار برای خودروها و محیط زیست می‌سازد..
                        در اگزوزسازی ما، نه فقط تغییرات فنی است، بلکه احیای دوباره‌ای است برای قدرت موتور..
                    </p>



                </div>
            </div>

        </div>






        <svg class="hero-waves " xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28 " preserveAspectRatio="none">
            <defs>
                <path id="wave-path" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z"></path>
            </defs>
            <g class="wave1baner2 ">
                <use xlink:href="#wave-path" x="50" y="3" fill="#FF8C00"></use>
            </g>
            <g class="wave2baner2">
                <use xlink:href="#wave-path" x="50" y="0" fill="#6A5ACD"></use>
            </g>
            <g class="wave3baner2">
                <use xlink:href="#wave-path" x="50" y="9" fill="#FFD700"></use>
            </g>
        </svg>



    </section>


    <!-- /About Section -->
                        <!-- baner3 ------------------------------------------------------------------------------------------->
                        <!-- Clients Section -->
                        <section id="clients" class="clients section light-background">

                            <div class="container" data-aos="fade-up">

                                <div class="row gy-4">




                                    <div class="neon-text">اگزوز سازی سیامک</div>

                                    <div class="col-xl-2 col-md-3 col-6 client-logo ">
                                        <img src="~/assets/img/clients/client-1.png" class="img-fluid smoke-source" alt=""><div class="smoke"></div>
                                    </div>

                                    <div class=" col-xl-2 col-md-3 col-6 client-logo" alt="">
                                        <img src="~/assets/img/clients/client-2.png" class="img-fluid" alt="">
                                    </div>

                                    <div class="col-xl-2 col-md-3 col-6 client-logo">
                                        <img src="~/assets/img/clients/client-3.png" class="img-fluid" alt="">
                                    </div>


                                    <div class="col-xl-2 col-md-3 col-6 client-logo">
                                        <img src="~/assets/img/clients/client-4.png" class="img-fluid" alt="">
                                    </div>



                                    <div class="col-xl-2 col-md-3 col-6 client-logo">
                                        <img src="~/assets/img/clients/client-5.png" class="img-fluid" alt="">
                                    </div>



                                    <div class="col-xl-2 col-md-3 col-6 client-logo">
                                        <img src="~/assets/img/clients/client-1.png" class="img-fluid smoke-source" alt=""><div class="smoke"></div>
                                    </div>

                                </div>

                            </div>

                        </section><!-- End Client Item -->
                        <!-- baner4 --------------------------------------------------------------------------------------->
                        <!-- Services Section -->


                        <section id="services" class="services section">

                            <!-- Section Title -->
                            <div class="container section-title" data-aos="fade-up">
                                <h2>خدمات ویژه اگزوز سازی سیامک</h2>
                            </div><!-- End Section Title -->

                            <div class="container">

                                <div class="row gy-4">

                                    <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
                                        <div class="service-item position-relative">
                                            <div class="icon">
                                                <i class="bi bi-car-front-fill icon"></i>
                                            </div>
                                                <h3> تعمیر و تعویض و تقویت اگزوز هر نوع ماشین</h3>
                                           
                                            <p style="color: black;">افزایش عملکرد و قدرت و شتاب خودرو بهتر ، مصرف سوخت بهینه‌تر و صدای اگزوز دلنشین‌تر</p>
                                        </div>
                                    </div><!-- End Service Item -->

                                    <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
                                        <div class="service-item position-relative">
                                            <div class="icon">
                                                <i class="bi bi-lightning-charge-fill icon"></i>
                                            </div>
                                            <h3>تکنولوژی جوشکاری دقیق و حرفه‌ای</h3>
                                            
                                            <p style="color: black;"> استحکام بالا، افزایش عمر قطعات و بهبود عملکرد و ماندگاری و کیفیت بالا</p>
                                        </div>
                                    </div><!-- End Service Item -->

                                    <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
                                        <div class="service-item position-relative">
                                            <div class="icon">
                                                <i class="bi bi-ev-front-fill icon"></i>
                                            </div>

                                            <!-- <a href="" class="stretched-link"></a>
                        <h3>تنظیم صدا</h3>-->

                                            <h3>تنظیم صدا</h3>

                                            <p style="color: black;">تجربه‌ای آرام‌تر در رانندگی</p>
                                        </div>
                                    </div><!-- End Service Item -->

                                    <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
                                        <div class="service-item position-relative">
                                            <div class="icon">
                                                <i class="bi bi-tools icon"></i>
                                            </div>
                                            <h3>تعمیر کاتالیزور</h3>

                                            <p style="color: black;">عملکرد موتور بهبود یافته، مصرف سوخت بهینه‌تر  و میزان آلایندگی کمتر</p>
                                        </div>
                                    </div><!-- End Service Item -->

                                    <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
                                        <div class="service-item position-relative">
                                            <div class="icon">
                                                <i class="bi bi-cloud-haze2-fill icon"></i>
                                            </div>
                                            <h3>بهینه‌سازی آلایندگی و مصرف سوخت</h3>
                                            <p style="color: black;">تنظیم و اصلاح مسیر دود خروجی برای کاهش مصرف سوخت</p>
                                        </div>
                                    </div><!-- End Service Item -->

                                    <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="600">
                                        <div class="service-item position-relative">
                                            <div class="icon">
                                                <i class="bi bi-gear-wide-connected"></i>
                                            </div>
                                            <h3>تعویض قطعات اگزوز</h3>
                                            <p style=" color: black;">تعویض بست‌ها و واشرهای اگزوز</p>
                                        </div>
                                    </div><!-- End Service Item -->

                                </div>

                            </div>
                        </section><!-- /Services Section -->
                        <!-- location map -->
                        <section id="call-to-action" class="call-to-action section dark-background">

                            <img src="~/assets/img/cta-bg.jpg" alt="">

                            <div class="container">
                                <div class="row justify-content-center" data-aos="zoom-in" data-aos-delay="100">
                                    <div class="col-xl-10 text-center ">
                                        <h2>
                                            <i class="bi bi-geo-alt-fill"></i>
                                            نقشه ما
                                        </h2><br>

                                        <div class="cta-buttons-container ">
                                            <a class="cta-btn" href="https://nshn.ir/a77bfWJVGxuxSD" target="_blank">نشان</a>
                                            <a class="cta-btn" href="https://balad.ir/p/3N5otXlj6KGO8x" target="_blank">بلد</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </section><!-- location map -->
                        <!-- baner5----------------------------------------------------------------------------------------------------------- -->
                        <!-- Faq Section -->
                        <section id="faq" class="faq section">

                            <!-- Section Title -->
                            <div class="container section-title" data-aos="fade-up">
                                <h2>    مقالات آموزشی  در فروشگاه اگزوز سازی سیامک </h2>
                                <p style="font-size: 20px; color: black; font-weight: bold;">هر آنچه درباره اگزوز خودرو باید بدانید</p>
                            </div><!-- End Section Title -->

                            <div class="container">

                                <div class="row justify-content-center">

                                    <div class="col-lg-10" data-aos="fade-up" data-aos-delay="100">

                                        <div class="faq-container">

                                            <div class="faq-item faq-active">
                                                <h3>چگونه می‌توان فهمید که اگزوز خودرو نیاز به تعمیر دارد؟</h3>
                                                <div class="faq-content">
                                                    <p style="color: black;">
                                                        .افزایش صدا، کاهش قدرت موتور، بوی نامطبوع و دود غیرعادی از نشانه‌های خرابی اگزوز هستند

                                                    </p>
                                                </div>
                                                <i class="faq-toggle bi bi-chevron-right"></i>
                                            </div><!-- End Faq item-->

                                            <div class="faq-item">
                                                <h3>اگزوز اسپرت چه تفاوتی با اگزوز معمولی دارد؟</h3>
                                                <div class="faq-content">
                                                    <p style="color: black;">
                                                        .اگزوز اسپرت صدای بیشتری تولید کرده و به بهبود عملکرد و خروج بهتر گازهای موتور کمک می‌کند

                                                    </p>
                                                </div>
                                                <i class="faq-toggle bi bi-chevron-right"></i>
                                            </div><!-- End Faq item-->

                                            <div class="faq-item">
                                                <h3>چرا برخی خودروها دو خروجی اگزوز دارند؟</h3>
                                                <div class="faq-content">
                                                    <p style="color: black;">
                                                        .این طراحی برای بهبود عملکرد خروج گازها، افزایش قدرت موتور و همچنین جلوه‌ی ظاهری بهتر خودرو استفاده می‌شود

                                                    </p>
                                                </div>
                                                <i class="faq-toggle bi bi-chevron-right"></i>
                                            </div><!-- End Faq item-->

                                            <div class="faq-item">
                                                <h3>چه عواملی بر کارایی سیستم اگزوز تأثیرگذار هستند؟</h3>
                                                <div class="faq-content">
                                                    <p style="color: black;">
                                                        .طراحی هندسی لوله‌ها، جنس متریال مورد استفاده، میزان افت فشار در سیستم، نحوه تخلیه گازها و کارکرد صحیح سنسورهای مرتبط، از عوامل مؤثر بر عملکرد اگزوز هستند

                                                    </p>
                                                </div>
                                                <i class="faq-toggle bi bi-chevron-right"></i>
                                            </div><!-- End Faq item-->

                                            <div class="faq-item">
                                                <h3>چرا نشتی اگزوز می‌تواند باعث کاهش عملکرد موتور شود؟</h3>
                                                <div class="faq-content">
                                                    <p style="color: black;">
                                                        .نشتی در سیستم اگزوز می‌تواند باعث کاهش فشار برگشتی مناسب، اختلال در قرائت سنسور اکسیژن و کاهش کارایی احتراق شود که منجر به کاهش توان موتور و افزایش مصرف سوخت می‌شود
                                                    </p>
                                                </div>
                                                <i class="faq-toggle bi bi-chevron-right"></i>
                                            </div><!-- End Faq item-->


                                            <div class="faq-item">
                                                <h3>چگونه خودروهای برقی گرمای تولیدی را مدیریت می‌کنند؟</h3>
                                                <div class="faq-content">
                                                    <p style="color: black;">
                                                        .این خودروها از سیستم‌های خنک‌کننده مایع، هیت سینک‌ها و گردش هوا برای دفع گرمای باتری، موتور الکتریکی و سیستم‌های الکترونیکی استفاده می‌کنند.
                                                    </p>
                                                </div>
                                                <i class="faq-toggle bi bi-chevron-right"></i>
                                            </div><!-- End Faq item-->

                                        </div>

                                    </div><!-- End Faq Column-->

                                </div>

                            </div>

                        </section><!-- /Faq Section -->
                        <!-- baner6 -->
                        <!-- Team Section -->
                        <section id="team" class="team section">

                            <!-- Section Title -->
                            <div class="container section-title" data-aos="fade-up">
                                <h2>تیم ما</h2>
                            </div><!-- End Section Title -->

                            <div class="container">

                                <div class="row">

                                    <div class="col-lg-4 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="100">
                                        <div class="member">
                                            <img src="~/assets/img/team/team-1.jpg" class="img-fluid" alt="">
                                            <div class="member-content">
                                                <h4>فرانک فرجی</h4>
                                                <p style="color: black; font-weight: bold; " ;> برنامه نویس  ومدیریت سایت ما</p>

                                                <div class="social">

                                                    <a href="https://t.me/faranak_faraji" target="_blank"><i class="bi bi-telegram" style="color: black"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- End Team Member -->

                                    <div class="col-lg-4 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="200">
                                        <div class="member">
                                            <img src="~/assets/img/team/team-2.jpg" class="img-fluid" alt="">
                                            <div class="member-content">
                                                <h4>سیامک فرجی </h4>
                                                <p style="color: black; font-weight: bold;">مدیر فروشگاه</p>

                                                <div class="social">

                                                    <a href="https://www.instagram.com/egzoz_siamak/" target="_blank"><i class="bi bi-instagram" style="color: black"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- End Team Member -->



                                </div>

                            </div>

                        </section><!-- /Team Section ----------------------------------------------------->
                        <!-- baner7 -->
                        <!-- Gallery Section -->
                        <section id="gallery" class="gallery section">

                            <!-- Section Title -->
                            <div class="container section-title" data-aos="fade-up">
                                <h2>گالری</h2>
                            </div><!-- End Section Title -->

                            <div class="container-fluid" data-aos="fade-up" data-aos-delay="100">

                                <div class="row g-0">

                                    <div class="col-lg-3 col-md-4">
                                        <div class="gallery-item">
                                            <a href="~/assets/img/gallery/gallery-1_resized.jpg" class="glightbox" data-gallery="images-gallery">
                                                <img src="~/assets/img/gallery/gallery-1_resized.jpg" alt="" class="img-fluid">
                                            </a>
                                        </div>
                                    </div><!-- End Gallery Item -->


                                    <div class="col-lg-3 col-md-4">
                                        <div class="gallery-item">
                                            <a href="~/assets/img/gallery/resized_gallery-5.jpg" class="glightbox" data-gallery="images-gallery">
                                                <img src="~/assets/img/gallery/resized_gallery-5.jpg" alt="" class="img-fluid">
                                            </a>
                                        </div>
                                    </div><!-- End Gallery Item -->

                                    <div class="col-lg-3 col-md-4">
                                        <div class="gallery-item">
                                            <a href="~/assets/img/gallery/resized_gallery-8.jpg" class="glightbox" data-gallery="images-gallery">
                                                <img src="~/assets/img/gallery/resized_gallery-8.jpg" alt="" class="img-fluid">
                                            </a>
                                        </div>
                                    </div><!-- End Gallery Item -->


                                    <div class="col-lg-3 col-md-4">
                                        <div class="gallery-item">
                                            <a href="~/assets/img/gallery/resized_gallery-7.jpg" class="glightbox" data-gallery="images-gallery">
                                                <img src="~/assets/img/gallery/resized_gallery-7.jpg" alt="" class="img-fluid">
                                            </a>
                                        </div>
                                    </div><!-- End Gallery Item -->

                                    <div class="col-lg-3 col-md-4">
                                        <div class="gallery-item">
                                            <a href="~/assets/img/gallery/resized_gallery-4.jpg" class="glightbox" data-gallery="images-gallery">
                                                <img src="~/assets/img/gallery/resized_gallery-4.jpg" alt="" class="img-fluid">
                                            </a>
                                        </div>
                                    </div><!-- End Gallery Item -->


                                    <div class="col-lg-3 col-md-4">
                                        <div class="gallery-item">
                                            <a href="~/assets/img/gallery/resized_gallery-9.jpg" class="glightbox" data-gallery="images-gallery">
                                                <img src="~/assets/img/gallery/resized_gallery-9.jpg" alt="" class="img-fluid">
                                            </a>
                                        </div>
                                    </div><!-- End Gallery Item -->


                                    <div class="col-lg-3 col-md-4">
                                        <div class="gallery-item">
                                            <a href="~/assets/img/gallery/gallery-1_resized.jpg" class="glightbox" data-gallery="images-gallery">
                                                <img src="~/assets/img/gallery/gallery-1_resized.jpg" alt="" class="img-fluid">
                                            </a>
                                        </div>
                                    </div><!-- End Gallery Item -->


                                    <div class="col-lg-3 col-md-4">
                                        <div class="gallery-item">
                                            <a href="~/assets/img/gallery/gallery-2_resized.jpg" class="glightbox" data-gallery="images-gallery">
                                                <img src="~/assets/img/gallery/gallery-2_resized.jpg" alt="" class="img-fluid">
                                            </a>
                                        </div>
                                    </div><!-- End Gallery Item -->

                                </div>

                            </div>

                        </section><!-- /Gallery Section -->
                        <!-- baner8 -->
                        <!-- Contact Section -->
                        <section id="contact" class="contact section">

                            <!-- Section Title -->
                            <div class="container section-title" data-aos="fade-up">
                                <h2>تماس</h2>
                            </div><!-- End Section Title -->

                            <div class="container" data-aos="fade" data-aos-delay="100">

                                <div class="row gy-4">

                                    <div class="col-lg-4">
                                        <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="200">
                                            <i class="bi bi-geo-alt flex-shrink-0"></i>
                                            <div>
                                                <h3>ادرس ما</h3>
                                                <p style=" font-weight: bold; color: black; ">چالوس.بعد از چوب بری خزر.اگزوزسازی سیامک</p>
                                            </div>
                                        </div><!-- End Info Item -->

                                        <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="300">
                                            <i class="bi bi-telephone flex-shrink-0"></i>
                                            <div>
                                                <h3 style=" font-weight: bold;">تماس با ما</h3>
                                                <p style=" font-weight: bold; color: black">+9809111969499</p>
                                            </div>
                                        </div><!-- End Info Item -->

                                        <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="400">
                                            <i class="bi bi-envelope flex-shrink-0"></i>
                                            <div>
                                                <h3 style=" font-weight: bold;">ایمیل ما</h3>
                                                <p style=" font-weight: bold; color: black">egzozs.siamak.com</p><br />
                                                <p style=" font-weight: bold; color: black">egzozsazisiamakchalous.com</p>
                                            </div>
                                        </div><!-- End Info Item -->

                                    </div>

                                    <div class="col-lg-8">
                                        <form action="forms/contact.php" method="post" class="php-email-form" data-aos="fade-up" data-aos-delay="200">
                                            <div class="row gy-4">

                                                <div class="col-md-6">
                                                    <input type="text" name="name" class="form-control" placeholder="نام شما" required="">
                                                </div>

                                                <div class="col-md-6 ">
                                                    <input type="email" class="form-control" name="email" placeholder="ایمیل شما" required="">
                                                </div>

                                                <div class="col-md-12">
                                                    <input type="text" class="form-control" name="subject" placeholder="عنوان پیام" required="">
                                                </div>

                                                <div class="col-md-12">
                                                    <textarea class="form-control" name="message" rows="6" placeholder="پیام" required=""></textarea>
                                                </div>

                                                <div class="col-md-12 text-center">
                                                    <div class="loading">Loading</div>
                                                    <div class="error-message"></div>
                                                    <div class="sent-message" style=" font-weight: bold; color: black">پیام شما ارسال شد. سپاسگزارم!</div>

                                                    <button type="submit" style=" font-weight: bold; color: black">ارسال پیام</button>
                                                </div>

                                            </div>
                                        </form>
                                    </div><!-- End Contact Form -->

                                </div>

                            </div>

                        </section><!-- /Contact Section -->
</main>


    <!-- baner9 -->

    <footer id="footer" class="footer light-background">
        <div class="container">
            <h3 class="sitename" style="font-weight: bold;" >اگزوز سازی سیامک</h3>
            <p>شبکه ارتباطی ما.</p>
            <div class="social-links d-flex justify-content-center">
                <a href="https://www.instagram.com/egzoz_siamak/" target="_blank" onclick="openInstagram(); return false;">
                    <i class="bi bi-instagram"></i>
                </a>


            </div>
            <div class="container">

                <div class="credits">
                    Designed by
                    <a href="https://t.me/faranak_faraji"
                       target="_blank"
                       onclick="openTelegram(); return false;">
                        faranak_faraji
                    </a>
                </div>
            </div>
        </div>
    </footer>

    <!-- Scroll Top -->
    <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Preloader -->
    <div id="preloader"></div>

    <!-- Vendor JS Files -->
    <script src="~/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/vendor/php-email-form/validate.js"></script>
    <script src="~/assets/vendor/aos/aos.js"></script>
    <script src="~/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="~/assets/vendor/swiper/swiper-bundle.min.js"></script>

    <!-- Main JS File -->
    <script src="~/assets/js/main.js"></script>
    <script async src="https://www.instagram.com/embed.js"></script>

    <!--telegram-->
    <script>
        function openTelegram() {
            var telegramAppLink = "tg://resolve?domain=faranak_faraji";
            var telegramWebLink = "https://t.me/faranak_faraji";

            // تلاش برای باز کردن در اپلیکیشن تلگرام
            window.location.href = telegramAppLink;

            // اگر اپلیکیشن تلگرام نصب نباشد، بعد از 1 ثانیه در سایت تلگرام باز شود
            setTimeout(function () {
                window.open(telegramWebLink, "_blank");
            }, 1000);
        }
    </script>

    <!-- instagram-->

    <script>
        function openInstagram() {
            var appLink = "instagram://user?username=egzoz_siamak";
            var webLink = "https://www.instagram.com/egzoz_siamak/";
            var newWindow = window.open(appLink, '_blank');

            setTimeout(function () {
                if (!newWindow || newWindow.closed || typeof newWindow.closed === 'undefined') {
                    window.open(webLink, '_blank');
                }
            }, 2000);
        }


    </script>

</body>

</html>
